@import "tailwindcss";

:root{

  --background:#F8FAFC;
  --surface:#FFFFFF;
  --text:#111827;
  --text-secondary:#6B7280;
  --primary:#2563EB;
  --border:#E5E7EB;
}

.dark{

  --background:#0F172A;
  --surface:#1E293B;
  --text:#F8FAFC;
  --text-secondary:#CBD5E1;
  --primary:#60A5FA;
  --border:#334155;
}

html{
  scroll-behavior:smooth;
}

body{

  font-family:Inter,sans-serif;

  background:var(--background);

  color:var(--text);

  transition:
  background .35s,
  color .35s;
}

.grid-background{

  background-image:

  linear-gradient(var(--border) 1px,transparent 1px),

  linear-gradient(90deg,var(--border) 1px,transparent 1px);

  background-size:40px 40px;
}